{% extends 'design/layout.html.twig' %}

{% block site_title %}RBTV.info - Das sollte nicht passieren{% endblock %}

{% block content %}
  <section>
    <div class="container">
      <h1>Seite nicht gefunden</h1>

      Dieser Fehler sollte nicht passieren. Denkst du hier ist was falsch?<br>
      Ja? Dann nutz' doch einfach das Kontaktformular. ;-)<br><br>

      <img class="img-responsive center-block" src="{{ asset("assets/images/error/404.png") }}" alt="Error">
    </div>
  </section>
{% endblock %}