{% extends 'design/layout.html.twig' %}

{% block site_title %}RBTV.info - Error 404- Wo ist die Seite hin?{% endblock %}

{% block content %}
  {# example security usage, see below #}
  {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
    {# ... #}
  {% endif %}
  <section>
    <div class="container">
      <h1>Seite nicht gefunden</h1>

      Dieser Fehler sollte nicht passieren. Denkst du hier ist was falsch?<br>
      Ja? Dann nutz' doch einfach das Kontaktformular. ;-)<br><br>

      <img class="img-responsive center-block" src="{{ asset("assets/images/error/404.png") }}" alt="Error 404">
    </div>
  </section>
{% endblock %}
