{% extends 'design/layout.html.twig' %}

{% block content %}
  <section>
    <div class="container">
      <h2>RBTV.info - Wartungsarbeiten</h2>

      <table class="table table-bordered">
        ...
      </table>
    </div>
  </section>
{% endblock %}
