{% extends 'design/layout.html.twig' %}

{% block content %}
  <section>
    <div class="container">
      <h2>RBTV.info - Wartungsarbeiten</h2>

      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Name</th>
              <th>Beendet</th>
              <th>Link</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Datum</th>
              <th>Name</th>
              <th>Beendet</th>
              <th>Link</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>01.01.1978</td>
              <td>Was verbirgt sich hinter #151115?</td>
              <td>Nein</td>
              <td><a href="http://www.strawpoll.me/5818082" target="_blank">Zum Voting</a></td>
            </tr>
            <tr>
              <td>01.01.1978</td>
              <td>Was bist'n du?</td>
              <td>Ja</td>
              <td><a href="http://www.strawpoll.me/3670040" target="_blank">Zum Voting</a></td>
            </tr>
            <tr>
              <td>01.01.1978</td>
              <td>Nur ein wildes Geräuschchaos und ein Wimmern.</td>
              <td>Nein</td>
              <td><a href="http://strawpoll.me/3417874" target="_blank">Zum Voting</a></td>
            </tr>
            <tr>
              <td>01.01.1978</td>
              <td>Sie sollen ihm bei einer Liebesangelegenheit helfen.</td>
              <td>Nein</td>
              <td><a href="http://strawpoll.me/3417853" target="_blank">Zum Voting</a></td>
            </tr>
            <tr>
              <td>01.01.1978</td>
              <td>Divan der Würger</td>
              <td>Nein</td>
              <td><a href="http://strawpoll.me/3417836" target="_blank">Zum Voting</a></td>
            </tr>
            <tr>
              <td>01.01.1978</td>
              <td>Eure aktuellen Lieblingsformate auf RBTV?</td>
              <td>Nein</td>
              <td><a href="http://strawpoll.me/3568076" target="_blank">Zum Voting</a></td>
            </tr>
            <tr>
              <td>01.01.1978</td>
              <td>Der zahnlose Thore</td>
              <td>Nein</td>
              <td><a href="http://strawpoll.me/3418617" target="_blank">Zum Voting</a></td>
            </tr>
            </body>
        </table>
      </div>
    </div>
  </section>
{% endblock %}
