<div class="bg-text-top-left-1">Viewers of Love</div>
<div class="bg-text-top-right-1">Zuerich - Termin nicht vergessen!<br>Budi & Arno!</div>
<div class="bg-text-top-right-2">Simon in die sonnigste Stadt Deutschlands schicken...</div>
<div class="bg-text-top-right-3">Eddie und Nils im Beef</div>
<div class="bg-text-top-right-4">Pizza Abo abbestellen!</div>
<div class="bg-text-bottom-left-1">Fuer jedes Boehnchen<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ein Toenchen</div>