<footer>
  <div class="container">
    <div class="pull-left">
      Dies ist kein offizielles Rocketbeans Produkt, dies ist ein von Fans gestalteste Seite von <a
        href="http://www.gardenpiratez.de" target="_blank"><i class="fa fa-fw fa-server"></i> GardenPiratez</a>.
    </div>
    <div class="pull-right">
      <a href="{{ path('settings') }}"><i class="fa fa-fw fa-cogs"></i> Einstellungen</a>
    </div>
    <div class="clearfix"></div>
  </div>
</footer>