{% extends 'design/layout.html.twig' %}

{% block site_title %}Informationen{% endblock %}

{% block content %}
  <section>
    <div class="container">
      <h1 class="page-header">$eventname</h1>
Mittig schönes Eventbild

$event findet um $uhrzeit am $datum auf $location statt.

$descripten/ausführliche Beschreibung

    </div>
  </section>
{% endblock %}
