{% extends 'design/layout.html.twig' %}

{% block site_title2 %}Impressum{% endblock %}

{% block content %}
  <section>
    <div class="container">
        <h2 class="page-header">Impressum</h2>

        <h2>Angaben gemäß § 5 TMG:</h2>
        Huskynarr<br>
        Schönbergstraße 29<br>
        79285 Ebringen<br>
        <br>

        <h3>Verantwortlich für redaktionelle Inhalte nach § 55 Abs. 2 RStV:</h3>
        Huskynarr<br>
        Schönbergstraße 29<br>
        79285 Ebringen<br>
        <br>

        <h2>Kontakt</h2>
        Telefon: +49 (0) 7664 406 983 5<br>
        Fax: +49 (0) 3222 394 354 82<br>
        Email: <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#105;&#110;&#102;&#111;&#064;&#114;&#098;&#116;&#118;&#046;&#105;&#110;&#102;&#111;">&#105;&#110;&#102;&#111;&#064;&#114;&#098;&#116;&#118;&#046;&#105;&#110;&#102;&#111;</a><br>
        <br>

        <h2>Haftungshinweis</h2>
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.<br>
        Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.<br>
        <br>

        <h2>Entwicklung</h2>
        Wir danken <a href="http://www.gardenpiratez.de" target='_blank' alt='GardenPiratez'>GardenPiratez</a> für die Teilnahme an der Entwicklung von RBTV.info.<br>
        <br>
        </div>
        </section>
      {% endblock %}
