{% extends 'design/layout.html.twig' %}

{% block site_title %}Informationen{% endblock %}

{% block content %}
  <section>
    <div class="container">
      <h2 class="page-header">Info</h2>
      <h3>Wer wir sind</h3>
      <p>Wir sind Hobby Entwickler die dieses Projekt ins Leben gerufen haben um die Bohnen zu unterstützen.<br>
        Genauere Infos werden wir nicht bekannt geben, da jeder googlen kann. ;) 
      </p>
      <br>
      <h3>Was wir machen</h3>
      <p>Naja, Programmieren. Was denn sonst?</p>
      <br>
      <h3>Was es hier gibt</h3>
      <p>Informationen über Sendungen, kommende Events und Spiele sowie Votings</p>
      <br>
      <h3>Mit was wurde die Webseite erstellt</h3>
      <p>Diese Schwere Frage lässt sich einfach beantworten.<br>
        <strong>Mit viel <i class="fa fa-heart"></i> und <i class="fa fa-clock-o"></i>.</strong><br>
        Für die anderen Programmierer hier, es ist ein großes Framework das ich nicht näher erläutern möchte. <br>
        Wer mehr wissen möchte, kann gerne eine Anfrage stellen.
      </p>
            <br>
            <h3>Was bedeuten die Farblichen Markierungen im Sendeplan?</h3>
      Ohne Kennzeichung - Wiederholung<br>
      {#      <span class="label">Wiederholung</span><br>#}
      <span class="label label-success">Live</span><br>
      <span class="label label-warning">Neue Folge</span><br>
      <span class="label label-info">Live Special</span><br>
      <br>
      <h3>Unterstützen</h3>
      <p>Natürlich freuen wir uns auch über Unterstützung. Natürlich haben die Bohnen Primär Vorrang.
      Dennoch haben wir auch Server & Domainkosten. Aber so ne frische Cola beim Programmieren hält wach ;) </p>
    </div>
  </section>
{% endblock %}
