{% extends 'design/layout.html.twig' %}

{% block content %}
  <section>
    <div class="container">
      <h2>RBTV.info - Wartungsarbeiten</h2>

      <p>{{ maintenanceUntil }}</p>
    </div>
  </section>
{% endblock %}
