{% extends 'design/layout.html.twig' %}

{% block site_title %}Partner & Sponsoren{% endblock %}

{% block content %}
  <section>
    <div class="container">
      <center>
        <h2 class="page-header">Partner</h2>
      </center>

      <div class="row">
        <div class="col-sm-4 col-md-3">
          <div class="thumbnail">
            <img src="{{ asset("assets/images/logos/partner/schaub-systems.png") }}" alt="Schaub Systems">

            <div class="caption">
              <h3>Schaub.Systems</h3>

              <p>Mit einer der Haupt Entwickler des Systems und langjähriger Unterstützer.</p>

              <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#schaub">Mehr
                  Info's</a> <a href="https://schaub.systems" target="_blank" class="btn btn-default" role="button">Zur Webseite</a></p>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="schaub" tabindex="-1" role="dialog" aria-labelledby="schaubLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="schaubLabel">Schaub.Systems - Mit System zum Erfolg</h4>
              </div>
              <div class="modal-body">
                Erst durch die tiefgehende Erfahrung einiger Mitarbeiter wurde uns dieses Projekt überhaupt möglich.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                <button type="button" class="btn btn-primary">Zur Webseite</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-3">
          <div class="thumbnail">
            <img src="{{ asset("assets/images/logos/partner/huskynarr.png") }}" alt="Huskynarr Logo">

            <div class="caption">
              <h3>Huskynarr</h3>

              <p>Huskynarr ist Initiator und Verantwortlicher für RBTV.info</p>

              <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#huskynarr">Mehr
                  Info's</a> <a href="https://huskynarr.de" target="_blank" class="btn btn-default" role="button">Zur Webseite</a></p>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="huskynarr" tabindex="-1" role="dialog" aria-labelledby="huskynarrLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="huskynarrLabel">Huskynarr - Der verrückte Hund</h4>
              </div>
              <div class="modal-body">
                Dem ein oder anderen ist der Name bereits geläufig. So wurde schon in diversen Moin Moin folgen sein PC System präsentiert und auch schon seine Fragen gestellt. Auch in Skyporama wurde so manch Frage gestellt, was er sehr gerne auf seinem Blog veranschaulicht.<br>
                <br>
                Zu seiner Person, ein recht junger Nerd und trotzdem bereits lange ein Jünger & Anhänger der Bohnen.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                <button type="button" class="btn btn-primary">Zur Webseite</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-3">
          <div class="thumbnail">
            <img src="{{ asset("assets/images/logos/partner/rbtv-logo.png") }}" alt="Rocketbeans Logo">

            <div class="caption">
              <h3>Rocketbeans</h3>

              <p>Noch nicht ganz Partner...<br> Aber wir hoffen, das sich das ändert.</p>

              <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#rbtv">Mehr Info's</a> <a href="https://rocketbeans.de" target="_blank" class="btn btn-default"
                                                                                                                              role="button">Zur Webseite</a></p>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="rbtv" tabindex="-1" role="dialog" aria-labelledby="rbtvLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="huskynarrLabel">Wirklich?</h4>
              </div>
              <div class="modal-body">
                Du bist auf dieser Seite und brauchst mehr Informationen?<br>
                <br>
                Ein Auszug aus Wikipedia:
                <blockquote>Rocket Beans TV ist ein deutschsprachiger Livestream-Kanal der Fernseh- und Medienproduktionsfirma Rocket Beans Entertainment GmbH mit Sitz in Hamburg. Entstanden ist Rocket Beans TV als YouTube-Kanal parallel zur Ausstrahlung der Videospiele-Sendung Game One auf dem Sender MTV. Nach Ende von Game One wurde das Projekt der offizielle Sender der Firma und strahlt fortan Inhalte auf den Internetplattformen Twitch und YouTube aus.</blockquote>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                <button type="button" class="btn btn-primary">Zur Webseite</button>
              </div>
            </div>
          </div>
        </div>
        {#<div class="col-sm-4 col-md-3">
          <div class="thumbnail">
            <img src="http://placehold.it/250x200" alt="...">

            <div class="caption">
              <h3>Vorschaubild-Titel</h3>

              <p>...</p>

              <p><a href="#" class="btn btn-primary" role="button">Mehr Info's</a> <a href="#" class="btn btn-default"
                                                                                      role="button">Zur Webseite</a></p>
            </div>
          </div>
        </div>#}
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <center>
        <h2 class="page-header">Sponsoren</h2>
      </center>

      <div class="row">
        <div class="col-sm-4 col-md-3">
          <div class="thumbnail">
            <img src="{{ asset("assets/images/logos/partner/GardenPiratez.png") }}" alt="...">

            <div class="caption">
              <h3>GardenPiratez</h3>

              <p>Wir danken für das viele Nervenfutter.</p>

              <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#gardenpiratez">Mehr Info's</a> <a href="#" class="btn btn-default"
                                                                                                                                       role="button">Zur Webseite</a></p>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="gardenpiratez" tabindex="-1" role="dialog" aria-labelledby="gardenpiratezLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span
                    aria-hidden="true">&times;</span></button>GardenPiratez</div>
              <div class="modal-body">
                GardenPiratez hat uns immer wieder mit Nerven Nahrung unterstüzt, ebenso mit Versionierung und dem Projekt Managment.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                <button type="button" class="btn btn-primary">Zur Webseite</button>
              </div>
            </div>
          </div>
        </div>
        {#<div class="col-sm-4 col-md-3">
          <div class="thumbnail">
            <img src="http://placehold.it/250x200" alt="...">

            <div class="caption">
              <h3>Vorschaubild-Titel</h3>

              <p>...</p>

              <p><a href="#" class="btn btn-primary" role="button">Mehr Info's</a> <a href="#" class="btn btn-default"
                                                                                      role="button">Zur Webseite</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-3">
          <div class="thumbnail">
            <img src="http://placehold.it/250x200" alt="...">

            <div class="caption">
              <h3>Vorschaubild-Titel</h3>

              <p>...</p>

              <p><a href="#" class="btn btn-primary" role="button">Mehr Info's</a> <a href="#" class="btn btn-default"
                                                                                      role="button">Zur Webseite</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-3">
          <div class="thumbnail">
            <img src="http://placehold.it/250x200" alt="...">

            <div class="caption">
              <h3>Vorschaubild-Titel</h3>

              <p>...</p>

              <p><a href="#" class="btn btn-primary" role="button">Mehr Info's</a> <a href="#" class="btn btn-default"
                                                                                      role="button">Zur Webseite</a></p>
            </div>
          </div>
        </div>#}
      </div>
    </div>
  </section>
{% endblock %}
