{% extends 'design/layout.html.twig' %}

{% block site_title %}Roadmap{% endblock %}

{% block content %}
  <section>
    <div class="container">
      <h2 class="page-header">Roadmap</h2>

      <ul>
        <li>Überarbeiten <a href="index.php?type=data">dieser Seite</a> Trend der Zuschauer und Follower nach Tag/Woche/Monat</li>
        <li>Überarbeiten <a href="index.php?type=month">dieser Seite</a> nur ein Wert pro Stunde (aktuell pro Minute)</li>
        <li>Frei Zoombarer Zuschauerzoom ähnlich oder wie <a href="http://skceb.de/cron/stats.php">hier</a></li>
        <li>Exportmöglichkeit aller Zuschauer und Follower Daten (tägliche Erstellung)</li>
        <li>Intern: Halb-Automatisierte Suche aller Sendeformate</li>
        <li>Sortierbare Tabellenköpfe (nicht überall)</li>
        <li>einlesen der YouTube aufrufe und zusammenparsen zum Sendeformat (nicht die einzelne Sendung)</li>
        <li>Entwicklung diverser einfacher Multiplayer Spiele</li>
        <li>u.v.m.</li>
      </ul>
      Die Reihenfolge der Abarbeitung ist nicht die Reihenfolge der Anzeige hier.
      Vorschläge oder Fehler/Korreturen könnt ihr <a href="http://www.reddit.com/r/rocketbeans/comments/39bfw8/rbtvstatsde_pr%C3%A4sentiert_sich_in_einen_neuen_layout/">hier</a> einreichen
  </section>
{% endblock %}
