{% extends 'design/layout.html.twig' %}

{% block site_title2 %}Social Media Links{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <h2>Social Media</h2>
            Alle Social Media Links kurz im Überblick
            <h4>RBTV.info</h4>
            <a class="btn btn-social btn-facebook" href="https://www.facebook.com/rbtvinfo-1165512833480341/" target="_blank">
                <span class="fa fa-facebook"></span> Facebook Seite
            </a>
 
            <h4>Rocketbeans Official</h4>
            <a class="btn btn-social btn-facebook" href="https://www.facebook.com/RocketBeansTV/" target="_blank">
                <span class="fa fa-facebook"></span> Facebook
            </a>

            <a class="btn btn-social btn-twitter" href="https://twitter.com/therocketbeans" target="_blank">
                <span class="fa fa-twitter"></span> Twitter
            </a>

            <a class="btn btn-social btn-reddit" href="https://www.twitch.tv/rocketbeanstv" target="_blank">
                <span class="fa fa-reddit"></span> Reddit
            </a>

            <a class="btn btn-social btn-youtube" href="https://www.youtube.com/user/ROCKETBEANSTV" target="_blank">
                <span class="fa fa-youtube"></span> Youtube
            </a>

        </div>
    </section>

{% endblock %}