{% extends 'design/layout.html.twig' %}

{% block site_title %}Einstellungen{% endblock %}

{% block content %}
  <section>
    <div class="container">
      <h1 class="page-header">Support</h1>
      <p>Wie du uns unterstützen kannst? Ganz einfach, in dem du zuest die Bohnen unterstützt.<br>
        Danach sind wir dran. Wie das erfolgt bleibt dir überlassen.
        <br>
        Die folgenden Möglichkeiten werden wir anbieten:
      </p>
      <ul>
        <li>Bitcoin</li>
        <li>Affiliate Links</li>
        <li>Werbung (3. Seiten)</li>
        <li>Mitarbeiten/entwickeln dieser Seite und 3. Anwendungen (Bsp. Spiele)</li>
        <li>Download spezifischer Apps</li>
        <li>u.v.m.</li>
      </ul>
      <p>Derzeit geben wir die Infos nur auf Anfragen heraus.<br>
        Alle übermäßige Spenden werden verteilt, auf Wunsch auch gerne nach eurem ermessen.<br>
        Die Bohnen stehen immer an erste Stelle, danach die anderen Portale.</p>

    </div>
  </section>
{% endblock %}